<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualization</title>
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="Style2.css">
</head>
<body>
    <div>
        <h1 id ="heading">Analysis of Rated researchers of 2022</h1>
        <!-- <iframe title="ResearcherReport" width=100% height=850 src="https://app.powerbi.com/reportEmbed?reportId=8d99419a-58e8-4869-9763-27e6778521fc&autoAuth=true&ctid=92454335-564e-4ccf-b0b0-24445b8c03f7" frameborder="0" allowFullScreen="true"></iframe> -->
        <iframe title="FinalVisualizationtest" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=2cfec010-4275-4b6b-8e0b-d5bb7c2ec407&autoAuth=true&ctid=92454335-564e-4ccf-b0b0-24445b8c03f7" frameborder="0" allowFullScreen="true"></iframe>
    
    
    </div>    
    <div id ="margin2" class="d-grid gap-2">
        <a id ="pad" class="btn btn-primary" href="https://app.powerbi.com/groups/me/insights/1b5a4403-fdb9-4679-abf5-ab1fb5695bf1?insightsSource=Desktop" role="button">Next</a>
        
        
    </div>
    
</body>
</html>