<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualization</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="Style.css">
</head>
<body>
    <div>
        <h1 id="heading2">Analysis of Rated researchers of 2022</h1>
        <iframe width=100% height=850px frameborder="0" scrolling="no" src=" https://uctcloud-my.sharepoint.com/:x:/g/personal/kmpkwe002_myuct_ac_za/EYg_gTdBIzVMrH_Su2pDPpUBJTK3jFHZv_dfal6JjU-mmw?e=3HTiu9&action=embedview&wdbipreview=true&wdHideSheetTabs=true&Item=Range5&wdAllowInteractivity=True&wdHideGridlines=True &wdHideHeaders=True& wdDownloadButton=True"></iframe>
    </div>
    
    
</body>
</html>