<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creating home page</title>
    <link rel="stylesheet" href="Style2.css">
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <span class = "logo">AI-WEB</span>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div>

        <div class="content">
            <h1>WELCOME TO THE AI-RESEARCH COMMUNITY</h1>
            <p class="description">
                Artificial Intelligence is complex and dynamic discpline with
                <br> topics and subareas. This website will make will things 
                <br>easy for you by gauging the nature,size and impact 
                <br>of AI in South Africa. Our Site will consolidate  data from 
                <br>multiple public research data sources including
                National Research Foundation.
                
                
            </p>
             <div>
                <button type="button"><span class="spanBack"></span>Explorereee</button>
             </div>
        </div>
        
        <div class="content2">
            
        </div>
    </div>
</body>
</html>